@font-face {
  font-family: "Riddler Regular";
  src: url("/1 - UmPrimeiroMegulhoNoJS/Jogo-Advinhacao/Font-Riddler/Riddler.eot") format("eot"),
    url("/1-UmPrimeiroMegulhoNoJS/Jogo-Advinhacao/Font-Riddler/Riddler.woff") format("woff"),
    url("/1-UmPrimeiroMegulhoNoJS/Jogo-Advinhacao/Font-Riddler/Riddler.ttf") format("truetype"),
    url("/1-UmPrimeiroMegulhoNoJS/Jogo-Advinhacao/Font-Riddler/Riddler.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh; 
  background-color: black;
  background-image: url('https://cdn.dribbble.com/userupload/10867364/file/original-12fd939c7e860f1377b9fbcfb5defa09.png?resize=1024x768');
  background-position: top;
  background-repeat:no-repeat;
  background-size: cover;
  backdrop-filter: brightness(0.5);  
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Arial', sans-serif;
  
}

.container {
  background-color: white;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  white-space: nowrap;
  filter: none; 
}

h1, 
h2,
form, input {
  color: #0D0D0D;
  font-family: 'Arial', sans-serif
}

h1 {
  color: #154536;
  font-family: 'Riddler regular';
  font-size: 30px;
  text-align: center;
}

h2, form {
  font-size: 16px;
}

.options-menu {
  margin-top: 14px;
}

.tutorial {
  font-size: 15px;
}

.input-data-game {
  margin-top: 12px;
}

form {
  width: 380px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px 0;;
}

input {
  color: #0D0D0D;
  border-color: #154536;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 12px 6px;
  outline: none;
  text-align: center;
}


.form input[type="number"] {
  width: 100%;
}

#btn-submit {
  background-color: #154536;
  border: none;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 1.3px;
}

